{% extends 'main/header_base.html' %}

{% block title %}
Персонажи
{% endblock %}

{% block title_in_header %}
Персонажи
{% endblock %}

{% block head_input %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/chr.css' %}">
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}

{% block ava_image %}{{ avatar }}{% endblock %}

{% block content %}
<div class="main_grid">
    <div class="profiles">
        {% for chr in characters %}
        <a href="/redactor/{{chr.usr.id}}/{{chr.id}}">
            <div class="listing">
                <div class="char_logo">
                    {% if chr.custom_avatar %}
                        <img src='/media/{{chr.portrait}}' alt="+">
                    {% else %}
                        <img src='/static/main/images/avatars/blank.png' alt="+">
                    {% endif %}
                </div>
                <div>{{chr.name}}</div>
            </div>
        </a>
        {% endfor %}
    
        <a href="/create_new">
            <div class="listing addnew">
                <div>+</div>
            </div>
        </a>
    </div>
    <div class="inform_box">
        <div class="div_column outside_box">
            <h1 style="color: #15598f;">Персонажи</h1>
            <div class="div_line outside_box">
                <div class="div_column">
                    <div class="reg_text_box">
                        Это редактор персонажей. Он позволяет создавать, хранить и  заниматься менеджментом персонажей созданных в рамках
                        последней редакции Fate Core прблизительно по следующему листу персонажа:
                        <a class="listing_link" href="https://fate-srd.com/fate-core/character-sheet">Лист персонажа Fate Core</a>
                    </div>
                </div>
                <div class="listing_picture">
                    <img src="{% static 'main/images/fate_characters.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}