{% extends 'main/header_base.html' %}
{% block list %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/list.css' %}">
<link rel="stylesheet" href="{% static 'main/css/lk.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
{% endblock %}

{% block title %}
{{current_character.name}}
{% endblock %}

{% block title_in_header %}
Персонаж: {{current_character.name}}
{% endblock %}

{% block username %}
{{ username }}
{% endblock %}

{% block ava_image %}{{ avatar }}{% endblock %}

{% block content %}
<div id="popup" class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <a href="#the_header" class="popup_close">X</a>
            <h3 class="popup_title">Выберите портрет песонажа</h3>
            <br>
            <form method="post" class="little_form" enctype="multipart/form-data">
                {% csrf_token %}
                {{portrait_form}}
                <br>
                <button type="submit" class="little_button" name = "ava_form">Сменить</button>
            </form>
        </div>
    </div>
</div>

<div class="main_grid">
    <div class="profiles">
        {% for chr in characters %}
        <a href="/redactor/{{chr.usr.id}}/{{chr.id}}">
            <div class="listing" guys_id = "{{chr.id}}">
                <div class="char_logo">
                    {% if chr.custom_avatar %}
                        <img src='/media/{{chr.portrait}}' alt="+">
                    {% else %}
                        <img src='/static/main/images/avatars/blank.png' alt="+">
                    {% endif %}
                </div>
                <div>{{chr.name}}</div>
            </div>
        </a>
        {% endfor %}
    
        <a href="/create_new">
            <div class="listing addnew">
                <div>+</div>
            </div>
        </a>
    </div>
    <div class="inform_box" current_guy = "{{current_character.id}}">
        <a href="#popup">
            <div class="char_logo_list char_logo list_form">
                <img src="{{chr_portrait}}" alt="+">
            </div>
        </a>
        
        <form action="" method="post" id="form_1" class="list_form">
            <h2>ID</h2>
            {% csrf_token %}
            {{form_1}}
        </form>

        <form action="" method="post" id="fate_points" class="list_form">
            <h2>Фейт поинты</h2>
            {% csrf_token %}
            {{fate_points}}
            <button class="little_button" id = "refresh_button">Возобновить</button>
        </form>

        <form action="" method="post" id="main_aspects" class="list_form">
            <h2>Аспекты</h2>
            {% csrf_token %}
            {{main_aspects}}

            <div>Other aspects:</div>
            {% for asp in aspects %}
             <div class="sec_asp_div">
                <textarea class="line_area secondary_aspect_input" aspect_in_question = "{{asp.id}}">{{asp}}</textarea>
                <a class="little_button secondary_aspect_delete_button" aspect_in_question = "{{asp.id}}">X</a>
             </div>
            {% endfor %}

            <button class="little_button" id = "aspect_add_button" name="add_new_aspect">Добавить аспект</button>
        </form>

        <form action="" method="post" id="stunts" class="list_form">
            <h2>Трюки</h2>
            {% csrf_token %}
            {% for stn in stunts %}
             <div class="stunt_upper_div" stunt_in_question = "{{stn.id}}">
                <input type="checkbox" class="stunt_drop_down_choice" stunt_in_question = "{{stn.id}}">
                <div class="stunt_div" stunt_in_question = "{{stn.id}}">
                    <div>Name:</div>
                    <textarea class="line_area stunt_name_input" stunt_in_question = "{{stn.id}}">{{stn}}</textarea>
                    <div class="stunt_to_hide" stunt_in_question = "{{stn.id}}">
                        <div>Description:</div>
                        <textarea class="med_area stunt_desc_input" stunt_in_question = "{{stn.id}}">{{stn.desc}}</textarea>
                    </div>
                 </div>
                 <a class="little_button stunt_delete_button" stunt_in_question = "{{stn.id}}">X</a>
             </div>
            {% endfor %}

            <button class="little_button" id = "stunt_add_button" name="add_new_stunt">Добавить трюк</button>
        </form>

        <form action="" method="post" id="extras" class="list_form">
            <h2>Дополнения</h2>
            {% csrf_token %}
            {% for ext in extras %}
             <div class="extra_upper_div" extra_in_question = "{{ext.id}}">
                <input type="checkbox" class="extra_drop_down_choice" extra_in_question = "{{ext.id}}">
                <div class="extra_div" extra_in_question = "{{ext.id}}">
                    <div>Name:</div>
                    <textarea class="line_area extra_name_input" extra_in_question = "{{ext.id}}">{{ext}}</textarea>
                    <div class="extra_to_hide" extra_in_question = "{{ext.id}}">
                        <div>Cost:</div>
                        <textarea class="line_area extra_cost_input" extra_in_question = "{{ext.id}}">{{ext.cost}}</textarea>
                        <div>Attached aspects:</div>
                        <textarea class="med_area extra_attached_aspects_input" extra_in_question = "{{ext.id}}">{{ext.attached_aspects}}</textarea>
                        <div>Attached stunts:</div>
                        <textarea class="med_area extra_attached_stunts_input" extra_in_question = "{{ext.id}}">{{ext.attached_stunts}}</textarea>
                        <div>Attached skills:</div>
                        <textarea class="med_area extra_attached_skills_input" extra_in_question = "{{ext.id}}">{{ext.attached_skills}}</textarea>
                        <div>Details:</div>
                        <textarea class="med_area extra_details_input" extra_in_question = "{{ext.id}}">{{ext.details}}</textarea>
                    </div>
                 </div>
                 <a class="little_button extra_delete_button" extra_in_question = "{{ext.id}}">X</a>
             </div>
            {% endfor %}

            <button class="little_button" id = "extra_add_button" name="add_new_extra">Добавить дополнение</button>
        </form>

        <form action="" method="post" id="consequences" class="list_form">
            <h2>Травмы</h2>
            {% csrf_token %}
            {% for con in consequences %}
             <div class="consequence_upper_div" consequence_in_question = "{{con.id}}">
                <input type="checkbox" class="consequence_drop_down_choice" consequence_in_question = "{{con.id}}">
                <div class="consequence_div" consequence_in_question = "{{con.id}}">
                    <div>Severity:</div>
                    <textarea class="line_area consequence_severity_input" consequence_in_question = "{{con.id}}">{{con}}</textarea>
                    <div class="consequence_to_hide" consequence_in_question = "{{con.id}}">
                        <div>Description:</div>
                        <textarea class="med_area consequence_desc_input" consequence_in_question = "{{con.id}}">{{con.desc}}</textarea>
                    </div>
                 </div>
                 <a class="little_button consequence_delete_button" consequence_in_question = "{{con.id}}">X</a>
             </div>
            {% endfor %}

            <button class="little_button" id = "consequence_add_button" name="add_new_consequence">Добавить травму</button>
        </form>

        <form action="" method="post" id="stress" class="list_form">
            <h2>Стресс (Stress)</h2>
            {% csrf_token %}
            {% for str in stress %}
                    <div class="stress_line" stress_in_question = "{{str.id}}">
                        <div class="stress_column">
                            <div>Type:</div>
                            <textarea class="little_area stress_type_input" stress_in_question = "{{str.id}}">{{str}}</textarea>
                        </div>
                        <div class="stress_column">
                            <div>Level/Avaliable/Spent</div>
                            <input type="number" name="stress_level_input" class = "stress_level_input" id="stress_level_input" value="{{str.level}}" stress_in_question = "{{str.id}}">
                            <input type="number" name="stress_avaliable_input" class="stress_avaliable_input" id="stress_avaliable_input" value="{{str.avaliable}}" stress_in_question = "{{str.id}}">
                            <input type="number" name="stress_spent_input" class="stress_spent_input" id="stress_spent_input" value="{{str.spent}}" stress_in_question = "{{str.id}}">
                        </div>
                        <a class="little_button stress_delete_button" stress_in_question = "{{str.id}}">X</a>
                    </div>
            {% endfor %}

            <button class="little_button" id = "stress_add_button" name="add_new_stress">Добавить стресс</button>
        </form>

        <form action="" method="post" id="skill" class="list_form">
            <h2>Умения (Skills)</h2>
            {% csrf_token %}
            {% for skl in skills %}
                    <div class="skill_line" skill_in_question = "{{skl.id}}">
                        <div class="skill_column">
                            <div>Name:</div>
                            <textarea class="little_area skill_name_input" skill_in_question = "{{skl.id}}">{{skl}}</textarea>
                        </div>
                        <div class="skill_column">
                            <div>Level (+):</div>
                            <input type="number" name="skill_level_input" class = "skill_level_input" id="skill_level_input" value="{{skl.level}}" skill_in_question = "{{skl.id}}">
                        </div>
                        <a class="little_button skill_delete_button" skill_in_question = "{{skl.id}}">X</a>
                    </div>
            {% endfor %}

            <button class="little_button" id = "skill_add_button" name="add_new_skill">Добавить умение</button>
        </form>

        <form action="" method="post" id="big_deletion" class="list_form">
            <h2>УДАЛИТЬ ПЕРСОНАЖА</h2>
            {% csrf_token %}
            <button class="little_button" id = "delete_character_button" name="delete_character_button">===X===</button>
        </form>
            
        <!-- Невидимые технические формы и инпуты ================================================================================ -->
        <form action="" method="post" id="delete_aspect_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="to_delete_ident_input" id="to_delete_ident_input">
        </form>

        <form action="" method="post" id="update_aspect_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="to_update_ident_input" id="to_update_ident_input">
            <input type="text" name="to_update_text_input" id="to_update_text_input">
        </form>


        <form action="" method="post" id="delete_stunt_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="stunt_to_delete_ident_input" id="stunt_to_delete_ident_input">
        </form>

        <form action="" method="post" id="update_stunt_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="stunt_to_update_ident_input" id="stunt_to_update_ident_input">
            <input type="text" name="stunt_to_update_text_input" id="stunt_to_update_text_input">
            <input type="text" name="stunt_to_update_desc_text_input" id="stunt_to_update_desc_text_input">
        </form>


        <form action="" method="post" id="delete_extra_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="extra_to_delete_ident_input" id="extra_to_delete_ident_input">
        </form>

        <form action="" method="post" id="update_extra_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="extra_to_update_ident_input" id="extra_to_update_ident_input">
            <input type="text" name="extra_to_update_text_input" id="extra_to_update_text_input">
            <input type="text" name="extra_to_update_cost_text_input" id="extra_to_update_cost_text_input">
            <input type="text" name="extra_to_update_attached_aspects_text_input" id="extra_to_update_attached_aspects_text_input">
            <input type="text" name="extra_to_update_attached_stunts_text_input" id="extra_to_update_attached_stunts_text_input">
            <input type="text" name="extra_to_update_attached_skills_text_input" id="extra_to_update_attached_skills_text_input">
            <input type="text" name="extra_to_update_details_text_input" id="extra_to_update_details_text_input">
        </form>


        <form action="" method="post" id="delete_consequence_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="consequence_to_delete_ident_input" id="consequence_to_delete_ident_input">
        </form>

        <form action="" method="post" id="update_consequence_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="consequence_to_update_ident_input" id="consequence_to_update_ident_input">
            <input type="text" name="consequence_to_update_text_input" id="consequence_to_update_text_input">
            <input type="text" name="consequence_to_update_desc_text_input" id="consequence_to_update_desc_text_input">
        </form>


        <form action="" method="post" id="delete_stress_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="stress_to_delete_ident_input" id="stress_to_delete_ident_input">
        </form>

        <form action="" method="post" id="update_stress_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="stress_to_update_ident_input" id="stress_to_update_ident_input">
            <input type="text" name="stress_to_update_text_input" id="stress_to_update_text_input">
            <input type="number" name="stress_to_update_level_number_input" id="stress_to_update_level_number_input">
            <input type="number" name="stress_to_update_avaliable_number_input" id="stress_to_update_avaliable_number_input">
            <input type="number" name="stress_to_update_spent_number_input" id="stress_to_update_spent_number_input">
        </form>


        <form action="" method="post" id="delete_skill_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="skill_to_delete_ident_input" id="skill_to_delete_ident_input">
        </form>

        <form action="" method="post" id="update_skill_form" class="technical_object">
            {% csrf_token %}
            <input type="number" name="skill_to_update_ident_input" id="skill_to_update_ident_input">
            <input type="text" name="skill_to_update_text_input" id="skill_to_update_text_input">
            <input type="number" name="skill_to_update_level_number_input" id="skill_to_update_level_number_input">
        </form>
    </div>
</div>



<script type="text/javascript" src="{% static 'main/js/list.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/lk.js' %}"></script>
{% endblock %}