{% extends 'main/header_base.html' %}

{% block head_input %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/lk.css' %}">
{% endblock %}

{% block title %}
Личный кабинет
{% endblock %}

{% block title_in_header %}
Личный кабинет
{% endblock %}

{% block content %}
{% load static %}
<div class="lk_layout">
    <a href="#popup">
        <div class="listing">
            <div class="char_logo">
                <img src="{{avatar}}" alt="big_ava">
            </div>
            <div>{{big_username}}</div>
        </div>
    </a>
    <div class="form_layout">
        <h3 style="color: #15598f">СМЕНА ПАРОЛЯ</h3>
        <form method="post" class="reg_form">
            {% csrf_token %}
            {{form}}
            <br>
            <button class="passw_button" type="submit">
                Сменить пароль
            </button>
        </form>
        <br>
        <a href="/logout">Выйти</a>
    </div>
</div>
<div id="popup" class="popup">
    <!-- <a href="#the_header" class="popup_black_area"></a> -->
    <div class="popup_body">
        <div class="popup_content">
            <a href="#the_header" class="popup_close">X</a>
            <h3 class="popup_title">Выберите аватар</h3>
            <br>
            <form method="post" class="little_form" enctype="multipart/form-data">
                {% csrf_token %}
                {{portrait_form}}
                <br>
                <button type="submit" class="little_button">=V=</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}