{% extends 'main/header_base.html' %}
{% block head_input %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
<script type="text/javascript" src="{% static 'main/js/login.js' %}"></script>
{% endblock %}

{% block content %}
{% load static %}
<div class="login_main">
    <div class="filter_fix">
        <div class="login_form">
            <form class="py_form" method="post">
                <h1 style="color: #15598f">ВХОД</h1>
                {% csrf_token %}
                {{form}}
                <button type="submit" class="conf_button">
                        <div>Войти</div>
                </button>
                <p>
                    или
                    <a class="log_link" href="/register">Зарегистрироваться</a>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}