@media screen and (max-width: 842px) {
    .inform_box{
      display: none;
    }
  
    .main_grid{
      justify-content: center;
    }
  }

.inform_box{
    max-width: calc(100% - 430px);
}

.outside_box{
  width: 100%;
}
.reg_text_box{
  font-size: larger;
  margin: 10px;
  text-align: justify;
  width: 600px;
}

.div_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.div_line{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.listing_picture{
  margin: 10px;
  height: 600px;
  width: auto;
}

.listing_picture>img{
  border-width: 3px;
  border-color: #434343;
  border-radius: 5px;
  height: 100%;
  width: auto;
}

.listing_link{
  text-decoration-line: underline;
  padding: 2px;
  color: #434343;
}

.listing_link:hover{
  background-color: #ffea9f;
  border-radius: 5px;
}

@media screen and (max-width: 1158px) {
  .listing_picture>img{
    width: calc(85vw - 430px);
    height: auto;
  }
  .reg_text_box{
    width: calc(85vw - 430px);
  }
}