#player_info{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.char_logo_list{
    height: 200px;
}

main{
    display: unset !important;
}

.number_input{
    color: #434343;
    box-shadow: 0px 6px 6px 1px #1c1e2038;
    border-radius: 10px;
    resize: none;
    height: 50px;
    width: auto;
    background-color: #f9f9f9;
}

.little_area{
    padding: 3px;
    color: #434343;
    margin: 10px;
    box-shadow: 0px 6px 6px 1px #1c1e2038;
    border-radius: 10px;
    resize: none;
    height: 40px;
    width: 150px;
}

.line_area{
    padding: 3px;
    color: #434343;
    margin: 10px;
    box-shadow: 0px 6px 6px 1px #1c1e2038;
    border-radius: 10px;
    resize: none;
    height: 50px;
    width: auto;
}

.med_area{
    padding: 3px;
    color: #434343;
    margin: 10px;
    box-shadow: 0px 6px 6px 1px #1c1e2038;
    border-radius: 10px;
    resize: none;
    height: 80px;
    width: auto;
}


.big_area{
    padding: 3px;
    color: #434343;
    margin: 10px;
    box-shadow: 0px 6px 6px 1px #1c1e2038;
    border-radius: 10px;
    resize: none;
    height: 150px;
    width: auto;
}

.list_form{
    margin: 5px;
    box-shadow: 0px 6px 6px 1px #1c1e2038;
    background-color: #ffea9f;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.list_form>h2{
    color: #15598f;
}

@media screen and (max-width: 1136px) {
    .profiles{
        display: none;
    }
    .inform_box{
        max-width: 100% !important;
    }
}

.inform_box{
    max-width: calc(100% - 430px);
}

.list_form .little_button{
    margin-top: 10px;
    display: unset !important;
}

.sec_asp_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.technical_object{
    display: none;
}

.technical_object>*{
    display: none;
}

.stunt_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.stunt_upper_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.stunt_to_hide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: none;
}

.extra_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.extra_upper_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.extra_to_hide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: none;
}

.consequence_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.consequence_upper_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.consequence_to_hide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: none;
}

.stress_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.stress_column{
    padding: 3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.stress_column>input{
    background-color: #f9f9f9;
    box-shadow: 0px 6px 6px 1px #1c1e2038;
    border-radius: 10px;
    margin: 5px;
    width: 100px;
}

.skill_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.skill_column{
    padding: 3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.skill_column>input{
    background-color: #f9f9f9;
    box-shadow: 0px 6px 6px 1px #1c1e2038;
    border-radius: 10px;
    margin: 5px;
    width: 100px;
}

@media screen and (max-width: 420px) {
    main>*{
        margin-right: 1px !important;
        margin-left: 1px !important;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }

    .skill_column{
        margin-right: 1px !important;
        margin-left: 1px !important;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }
    .stress_column{
        margin-right: 1px !important;
        margin-left: 1px !important;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }

    .skill_column>.little_area{
        margin-right: 1px !important;
        margin-left: 1px !important;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }
    .stress_column>.little_area{
        margin-right: 1px !important;
        margin-left: 1px !important;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }
}