* {
  margin: 0;
  padding: 0;
  font-family:  Tahoma, sans-serif;
  transition: all 0.2s;
  outline: none;
}

input {
  text-align: center;
  outline: none;
  border: 0;
  background: unset;
}

a {
  /* color: white; */
  text-decoration: none;
}

/* a:hover {
  color: white;
} */

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url(../images/76.png);
  display: grid;
  grid-template-areas: "main" "footer";
  grid-template-rows: 1fr auto;
}


/* important============================================================ */
/* important============================================================ */
/* important============================================================ */


.filter_fix {
  width: 570px;  /* only for login */
  height: 270px;  /* only for login */
  display: flex;
}

.filter_fix>div {
  flex-basis: 100%;
}

/* .filter_fix>div:nth-child(1) {
  background: url(../images/login_page.svg);
  background-repeat: no-repeat;
  background-size: cover;
}   */

@media screen and (max-width: 620px) {
  /* .filter_fix>div:nth-child(1) {
    background: url(../images/login_page_mobile.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  } */

  .filter_fix {
    width: 88vw;  
    height: 270px;  
    display: flex;
  }

  .about{
    display: none;
  }
}

.filter_fix>div:nth-child(2) {
  width: 100%;
  z-index: 999;
  margin-left: -100%;
}    

/* header============================================================ */

header {
  color: white;
  height: 125px;
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 0px 6px 6px 1px #1c1e2038;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header .coach {
  background-color: #0d436d;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 10px;
}

header .title_head {
  flex-grow: 5;
  background-color: #15598f;
  padding: 0 5%;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.title_head>a{
  padding: 3px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  font-family: Verdana, sans-serif;
}

.title_head>a:hover{
  background-color: #0d436d;
  border-radius: 5px;
}

.coach>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 60px;
}

.sinopsis{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page_name{
  margin: 5px;
  font-size: small;
  font-weight: bold;
}

@media screen and (max-width: 730px) {
  .sinopsis {
    display: none;
  }
}

header .lknick {
  width: 200px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  display: flex;
  text-align: center;
}

header .lknick>div:nth-child(2) {
  margin-top: 5px;
}


header .lknick .nickname {
  border-radius: 40px;
  background-color: #6e8ea7;
  height: inherit;
}

.avatar{
  width: 40px;
  height: 40px;
}

.avatar img {
  margin-bottom: 5px;
  width: inherit;
  height: inherit;
  border-radius: 40px;
  border: solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #6e8ea7;
}

.under_ava{
  height: 90%;
  width: 90%;
  margin-top: 1px;
}

.under_ava:hover{
  background-color: #063255;
  border-radius: 5px;
}

.nav_link{
  margin: 5px 0;
  padding: 3px;
}

.nav_link>a{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: bold;
}

.nav_link:hover{
  background-color: #063255;
  border-radius: 5px;
}

.nav_link_svg{
  height: 25px;
  color: #6e8ea7;
  margin-right: 10px;
}

@media screen and (max-width: 486px) {
  .nav_link>a>div {
    display: none;
  }
}

/* header .lknick>div {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  flex-grow: 33;
} */

/* header .search{
  background: url(../images/search_window.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0px right 0px;
  width: 317px;
  height: 60px;
} */

/* header .search>div {
  padding: 0 0 10px 12px;
  color: gray;
  font-weight: bold;
  width: 235px;
  padding-left: 0px;
  margin-left: 43px;
}

header .search input{
  width: 235px;
  text-align: center;
  background: unset;
  outline: none;
  border: 0px;
  font-size: 16px;
} */

@media screen and (max-width: 786px) {
  .lknick>*{
    display: none;
    height: 0px;
    width: 0px;
  }
  header .lknick{
    height: 0px;
    width: 0px;
    display: none;
  }
}

/* @media screen and (max-width: 536px) {
  header .search{
    background: url(../images/search_window_mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0px right 0px;
    width: 202.4px;
    height: 60px;
  }

  header .logo img {
    height: 54px;
    width: auto;
  }

  header .logo * {
    padding: 0px;
  }
} */

/* main============================================================ */

main {
  margin: 0 5%;
  margin-top: 150px;
}

@media screen and (max-width: 786px) {
  main {
    margin: 0;
    margin-top: 150px;
  }
}

.main_grid{
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inform_box{
  padding: 5px;
  color: #434343;
  box-shadow: 0px 6px 6px 1px #1c1e2038;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 20;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 10px;
}

@media screen and (max-width: 420px) {
  .inform_box{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.profiles {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profiles>a{
   margin: 10px 50px;
}

@media screen and (max-width: 400px) {
  .profiles>a{
    margin: 10px 0;
 }
}

.listing {
  box-shadow: 0px 6px 6px 1px #1c1e2038;
  color: #434343;
  background-color: #ffea9f;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0px;
}

.listing>div:nth-child(2){
  margin-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 175px;
}

.listing:hover {
  background-color: #dfc35f;
  border-radius: 20px;
}

/* .addnew {
  background: url(../images/new_portrait.svg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.addnew{
  height: 50px;
}

.addnew>div {
  font-size: xx-large;
  font-weight: bold;
}

.char_logo {
  height: 85%;
  padding-right: 3px;
}

.char_logo>img{
  border: solid;
  border-width: 3px;
  border-color: #434343;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* footer============================================================ */
.fotologo{
  height: 80%;
  width: auto;
  margin-top: 25px;
}

.fotologo>img{
  height: 80%;
  width: auto;
}

footer {
  /* background-color: black; */
  background: url(../images/70.png);
  color: white;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  box-shadow: 0px -6px 6px 1px #1c1e2038;
}

footer>div{
  margin: 5px 5%;
}

.about {
  text-align: left;
}

.company-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.company-logo {
  width: 60px;
  height: 60px;
  margin: 5px;
  background: url(../images/company_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .company-info {
    display: none;
  }
}













